<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <link href="/assets/images/favicon.svg" rel="icon" type="image/svg">

    <title>{{ page.title }} - Emily Young</title>
</head>

<body class="bg-body">
{% include nav.html %}

<main class="container" role="main">
    <div class="content">
        {{ content }}
    </div>
</main>

</body>
</html>
